<h1>Access Revocation: Trading Features on Stocker</h1>

<p>Hey <%= @user.username %>,</p>
<p>We regret to inform you that your access to the trading features on Stocker has been <b>revoked</b>.</p>
<p>Should you have any questions or require further clarification regarding this decision, please don't hesitate to reach out to our support team.</p>
<p>Thank you for your understanding.</p>
<p>Best regards,</p>
<p>Stocker</p>
