<h1>You're Approved! Let's Start Trading with Stocker!</h1>

<p>Hey User!</p>
<p>Great news! You've been given the green light to access all the trading features on Stocker, your go-to online stock exchange platform.</p>
<p>Now that your account is <b>upgraded</b>, you can dive into trading, analyze market trends, and manage your portfolio like a pro—all in one place.</p>
<p>Got questions or need a hand? Our support team is here for you whenever you need us.</p>
<p>Thanks for choosing Stocker. <%= link_to 'Login', new_user_session_url, target: '_blank' %> to your account and let's make some smart trades together!</p>

<br/>
<p>Cheers,</p>
<p>Stocker</p>