/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    background-color: rgba(40, 40, 40, 1);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#Dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Header {
    margin: 1rem;
    width: 100%;
    padding: 0 0 0 2rem;
    background-color: rgb(0, 50, 90);
}

.Header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: auto;
    height: 60px;
    margin-right: 10px;
}

.Header-user {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 0 2rem;
    font-size: 0.8rem;
}

#Header a {
    color: white;
    text-decoration: none;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.Header-routes {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    padding: 0 0 1rem 1rem;
}

.Header-login, .Header-logout {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    margin: -0.4rem 2rem 0 5.5rem;
}

.Header-login, .Header-logout button  {
    background-color: rgba(40, 40, 40, 1);
    color: white;
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.5s;
}

.Header-logout button:hover, .Header-login:hover {
    background-color: rgb(0, 77, 110);
}

#Dashboard-search-bar {
    margin: 1rem 0 2rem 0;
}

#Dashboard-stocks table {
    width: 100%;
    border-collapse: collapse;
}

#Dashboard-stocks th,
#Dashboard-stocks td {
    padding: 0.5rem;
    text-align: center;
}